{% extends "base.html" %}
{% block title %}
| Карта
{% endblock %}

{% block main_menu %}
    {% include "main_menu.html" %}
{% endblock %}

{% block body %}
<div class="page">
    {% include "header.html" %}
    <div id="mmb_map" class="mt-1 p-2">
        {% include "modals.html" %}
        <div class="row">
            <div class="col-12 mb-2">
                <div class="card mb-2">
                    <div class="card-header white">
                        <div class="row my-auto pl-4">
                            <span class="app-header">Карта промфиниша</span>
                        </div>
                    </div>
                    <div v-if="can_change_map === 'True'" class="card-body p-1">
                        <p class="text-small text-gray my-0 ml-4">
                            <i class="fas fa-info-circle"></i> При добавлении новой карты - старая будет удалена автоматически
                        </p>
                    </div>
                    <!-- <div class="card-footer">

                    </div> -->
                </div>
                <div v-if="appLoading" class="text-center py-5">
                    <div class="logo-wrapper spinner-grow text-info" role="status" style="width: 3rem; height: 3rem;">
                    </div>
                </div>
                <div v-else-if="err_msg" class="pt-2 px-2">
                    <div class="alert alert-danger">
                        <b>Ошибка!</b> -* err_msg *-
                    </div>
                </div>
                <div v-else class="card mt-0">
                    <div v-if="can_change_map === 'True'" class="card-header white">
                        <div class="row d-flex justify-content-end">
                            <button class="btn btn-sm btn-danger" @click="del_map()" :disabled="! map_file.id">
                                <span class="text-white"><i class="fas fa-snowplow"></i> Удалить Карту</span>
                            </button>
                            <button class="btn btn-sm btn-default" @click="mmb_new_map.click()">
                                <span class="text-white"><i class="far fa-save"></i> Обновить карту</span>
                            </button>
                            <input type="file" id="mmb_new_map" name="mmb_new_map" style="display:none" @change="register_map"/>
                        </div>
                    </div>
                    <div class="card-body text-center p-1">
                        <div class="form-group row d-flex justify-content-center my-2">
                            <a v-if="map_file.href" :href="map_file.href">
                                <img :src="map_file.href" class="img-fluid" alt="mmb_map.jpg">
                            </a>
                            <span v-else class="h3 text-black-50 m-5">Карта не загружена</span>
                        </div>
                    </div>
                    <!-- <div class="card-footer">

                    </div> -->
                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</div>
<script>
    let mmb_map = new Vue({
        el: '#mmb_map',
        delimiters: ['-*', '*-'],
        data: {
            appLoading: true,
            can_change_map: "{{ can_change_map }}",
            response_success: '',
            response_warn: '',
            response_info: '',
            err_msg: '',
            map_file: {
                href: '',
                id: '',
                desc: '',
            },
            new_map_file: null,
        },
        methods: {
            register_map: function(event) {
                let self = this;
                self.response_info = "Загружаем новую карту";
                modal_show({id: '#modalResponseInfo'});
                load_image = new Promise((resolve, reject) => {
                    loadImage.parseMetaData(event.target.files[0], function(data) {
                        let orientation = 0;
                        if (data.exif) {
                            orientation = data.exif.get('Orientation');
                        }
                        let loadingImage = loadImage(event.target.files[0], function(canvas) {
                            try {
                                canvas.toBlob(function(blob) {resolve(blob)},'image/jpeg');
                            } catch {
                                elf.response_info = "";
                                self.response_warn = "Не удалось обработать изображение";
                                modal_show({id: '#modalResponseWarn'});
                                reject();
                            }
                        },
                        {
                            canvas: true,
                            orientation: orientation,
                        });
                    });
                });
                load_image.then(data => {
                    return [{
                        key: "new_map_file",
                        obj: data,
                    }];
                }).then(data => {
                    sendDataV2({
                        type: 'form',
                        method: 'POST',
                        url: '/api/v1/addrbook/change_mmb_map/',
                        jsondata: {},
                        files: data,
                    }).then(data => {
                        self.response_info = ""
                        self.response_warn = "";
                        self.response_success = data.msg;
                        modal_show({id: '#modalResponseSuccess', timeout: 1000});
                        self.get_map();
                    }).catch(err => {
                        self.response_info = ""
                        self.response_warn = err.msg;
                        modal_show({id: '#modalResponseWarn'});
                    });
                });
            },
            del_map: function (args) {
                let self = this;
                sendDataV2({
                    type: 'form',
                    method: 'POST',
                    url: '/api/v1/addrbook/change_mmb_map/',
                    jsondata: {},
                    files: [],
                }).then(data => {
                    self.response_info = ""
                    self.response_warn = "";
                    self.response_success = data.msg;
                    modal_show({id: '#modalResponseSuccess', timeout: 1000});
                    self.get_map();
                }).catch(err => {
                    self.response_info = ""
                    self.response_warn = err.msg;
                    modal_show({id: '#modalResponseWarn'});
                });
            },
            get_map: function () {
                let self = this;
                getDataV2('/api/v1/addrbook/mmb_map/').then(data => {
                    self.err_msg = '';
                    self.map_file = data;
                }).then(data => {
                    self.appLoading = false;
                }).catch(err => {
                    self.err_msg = err.msg;
                });
            },
        },
        created() {
            let self = this;
            self.get_map();
        },
    });
</script>
{% endblock %}