{% load mmb_pf_tags %}
<!--
    Hello friend, nice that you are here and hope with good intentions.
    This whole system (frontend, backend) is invented, written and tested by me - fzeulf =)
    It was a hard work during half of 2020 year, hope there is not so many bugs and this system will be usefull.
-->
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>ММБ {% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon"/>
        <link type="text/css" rel="stylesheet" href="/static/mdb/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="/static/mmb_pf.css?v=25" media="all">
        <script type="text/javascript" src="/static/vue.min.js"></script>
        <script type="text/javascript" src="/static/mdb/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/mmb_pf.js?v=29"></script>
        <script type="text/javascript" src="/static/load-image/load-image.all.min.js"></script>
        <script type="text/javascript" src="/static/load-image/canvas-to-blob.min.js"></script>
        <script type="text/javascript" src="/static/mdb/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/moment.min.js"></script>
    </head>
    <body>
        {% block main_menu %}
        {% endblock %}

        {% block body %}
        {% endblock %}

        <script>
            const isIe = !!window.MSInputMethodContext && !!document.documentMode;
            if (isIe) {
                $('body').html(
                    "<div class=\"alert alert-info w-80\" role=\"alert\">" +
                    "   <h4 class=\"alert-heading\">К сожалению, этот браузер не поддерживается<\/h4>" +
                    "   <p>Internet Explorer является устаревшим и его развитие прекращено в компании Microsoft.<\/p>" +
                    "   <hr>"+
                    "   <p class=\"mb-0\">Используйте любой современный браузер для работы с системой: <a href=\"https://www.google.com/chrome/?hl=ru\" class=\"text-bold text-primary\">Chrome</a>, \
                    <a href=\"https://www.mozilla.org/ru/firefox/new/\" class=\"text-bold text-primary\">FireFox</a>, \
                    <a href=\"https://browser.yandex.ru/\" class=\"text-bold text-primary\">Yandex</a>, \
                    <a href=\"https://support.apple.com/ru_RU/downloads/safari\" class=\"text-bold text-primary\">Safari</a>, \
                    <a href=\"https://www.opera.com/ru/\" class=\"text-bold text-primary\">Opera</a><\/p>" +
                    "</div>"
                );
            }
        </script>
        {% block script %}
        {% endblock %}
    </body>
</html>
