{% extends "base.html" %}
{% block title %}
| Сменить пароль
{% endblock %}

{% block main_menu %}
    {% include "main_menu.html" %}
{% endblock %}

{% block body %}
<div class="page">
    {% include "header.html" %}
    <div id="change_my_password" class="mt-1 p-2">
        {% include "modals.html" %}
        <div class="row">
            <div class="col-12">
                <div class="card card-list">
                    <div class="card-header white">
                        <div class="row app-header">
                            <div class="col-sm-12 col-md-7 col-lg-8 pl-4">
                                <div class="row">
                                    Смена пароля
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label text-bold mt-1">Текущий пароль</label>
                            <div class="col-sm-9">
                                <input
                                    type="password"
                                    :class="fieldBorderClass({classes: ['col-sm-12',], type: form_checks.old_password.type, valid: validation.old_password})"
                                    placeholder="Текущий пароль"
                                    v-model.trim="changing.old_password"
                                    @change="checkField('old_password')">
                                <div class="invalid-feedback align-right">
                                    -* form_checks.old_password.err_msg *-
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label text-bold mt-1">Новый пароль</label>
                            <div class="col-sm-9">
                                <input
                                    type="password"
                                    :class="fieldBorderClass({classes: ['col-sm-12',], type: form_checks.new_password.type, valid: validation.new_password})"
                                    placeholder="Новый пароль"
                                    v-model.trim="changing.new_password"
                                    @change="checkField('new_password')">
                                <div class="invalid-feedback align-right">
                                    -* form_checks.new_password.err_msg *-
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 text-center">
                                <button :disabled="! changing.old_password && ! changing.new_password" type="button" class="btn btn-sm btn-info" @click="change_my_password">
                                    <span class="">Сменить</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="card-footer">

                    </div> -->
                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</div>
<script>
    let change_my_password = new Vue({
        el: '#change_my_password',
        delimiters: ['-*', '*-'],
        data: {
            appLoading: false,
            response_success: '',
            response_warn: '',
            changing: {
                old_password: '',
                new_password: '',
            },
            validation: { // form field validation results
                old_password: true,
                new_password: true,
            },
            form_checks: { // form field validation settings
                old_password: {
                    type: 'check',
                    re: '^.{5,30}$',
                    err_msg: 'Слишком короткий или слишком длинный пароль',
                },
                new_password: {
                    type: 'check',
                    re: '^.{5,30}$',
                    err_msg: 'Слишком короткий или слишком длинный пароль',
                },
            },
        },
        methods: {
            checkField: function(field) {
                let self = this;
                checkFormFields({
                    form_checks: self.form_checks,
                    data_to_check: {[field]: self.changing[field]},
                    validation: self.validation,
                });
            },
            change_my_password: function () {
                let self = this;
                sendDataV2({
                    type: 'json',
                    method: 'POST',
                    url: '/api/v1/administration/change_my_password/',
                    jsondata: self.changing,
                }).then(data => {
                    self.response_warn = '';
                    self.response_success = data.msg;
                    self.changing = {
                        old_password: '',
                        new_password: '',
                    };
                    modal_show({id: '#modalResponseSuccess', timeout: 2000});
                }).catch(err => {
                    self.response_success = '';
                    self.response_warn = err.msg;
                    modal_show({id: '#modalResponseWarn'});
                });
            },
        },
        created() {
            let self = this;
        },
    });
</script>
{% endblock %}